.home-container{
    position: fixed;
    color: white;
    lost-column: 1/3;
    lost-align: center;
    width: 100%;
    height: 500px;
}

.login-wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}