#home-page{
    height: 100%;
}

.page-content{
    lost-center: 1/1;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    margin-top: 50px;
}

.page-content div{
    padding: 40px;
    line-height: 25px;
}

.features-content-wrapper{
    lost-utility: clearfix;
    lost-flex-container: row;
}
.feature-column{
    lost-utility: clearfix;
    lost-flex-container: column;
    lost-column: 1/2;
    .feature-item{
        lost-column: 1/3;
    }
}

.intro {
    line-height: 25px;
}