@lost flexbox flex;

html,
body {
    margin: 0 auto;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/* Global Fonts */
.title {
    font-family: 'Varela Round', sans-serif;
    font-size: 4em;
    display: block;
}

.content-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Global Inputs */
.arcing-input{
    position: relative;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    margin: 10px;
}

.arcing-btn{
    position: relative;
    background-color: #007acc;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 80px;
    margin: 10px;
}
