.titletron-container {
    border: 1px solid grey;
    background-color: #222222;
    width: 100%;
    height: 500px;
    color: white;
    lost-flex-container: column;
    lost-align: center;
    div {
        lost-row: 1/2;
    }
}

.titletron-wrapper{
    lost-align: center;
}



.react-logo{
    display: block;
    height: 200px;
}

.title {
    display: block;
}