.titletron-container {
    border: 1px solid grey;
    background-color: #222222;
    width: 100%;
    height: 500px;
    color: white;
    lost-flex-container: column;
    lost-align: center;
    div {
        lost-row: 1/3;
    }
}

.titletron-wrapper{
    lost-align: center;
}

.tagline{
    lost-align: center;
    margin: 20px;
    font-size: 1.4rem !important;
}


.react-logo{
    display: block;
    height: 200px;
}

.title {
    display: block;
}